.ProductDetailsPage_panigation__ZYBEy {
    .anticon {
        font-size: 1.5rem;
    }

    :where(.css-dev-only-do-not-override-apn68).ant-pagination {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
    }

    :where(.css-dev-only-do-not-override-apn68).ant-pagination .ant-pagination-item {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    :where(.css-dev-only-do-not-override-apn68).ant-pagination .ant-pagination-item-active {
        border: 1px solid #E87428;
    }


    :where(.css-dev-only-do-not-override-apn68).ant-pagination .ant-pagination-item-active a {
        color: #E87428;
    }
}