.profile-container {
    display: flex;
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .form {
    text-align: left; 
    margin-top: 20px;
  }
  
  .form .ant-form-item-label {
    text-align: left;
  }
  
  .header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .confirm-button {
    background-color: #E87428;
    border-color: #E87428;
    margin-left: 10px;
  }
  
  .cancel-button {
    background-color: rgb(247, 37, 37);
    border-color: rgb(247, 37, 37);
    margin-right: 10px;
    color: white;
  }
}