.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .content {
    text-align: center;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
  }
  
  .title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #777;
  }
  
  .otpContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .otpInput {
    width: 40px;
    height: 50px;
    margin: 0 5px;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .otpInput:focus {
    border-color: #ff7300;
  }
  
  .error {
    color: red;
    margin-bottom: 20px;
    font-size: 0.9rem;
  }
  
  .verifyButton {
    width: 100%;
    padding: 10px 20px;
    background-color: #ff7300;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .verifyButton:hover {
    background-color: #ff7300;
  }
  