.main { 
  background-color: rgba(250, 134, 56, 0.2);
  padding: 50px 0;
  background-image: url('../../assets/images/dogs.svg');
  background-repeat: no-repeat;
  background-size: contain;
  // background-position: top 100px left;
  background-position: bottom;
}

.step {
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
  margin-left: 100px;
}

.arrow1 {
  position: absolute;
  top: 30px;
  left: 280px;
}

.arrow2 {
  position: absolute;
  top: 30px;
  left: 580px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;

  .content {
    text-align: center;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 650px;
    height: 330px;

    .title {
      font-size: 2.5rem;
      font-weight: 900;
      margin-bottom: 30px;
    }
    
    .subtitle {
      font-size: 1.5rem;
      margin-bottom: 30px;
      color: #777;
      font-weight: 500;
    }
  }
}

.otpContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.otpInput {
  width: 40px;
  height: 50px;
  margin: 0 15px;
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.otpInput:focus {
  border-color: #E87428;
}

.error {
  color: red;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

.verifyButton {
  width: 70%;
  // padding: 10px 20px;
  background-color: #ff7300;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 2.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}