.main { 
    height: 100vh;
    background-color: rgba(250, 134, 56, 0.2);
    padding: 50px 0;
    background-image: url('../../assets/images/dogs.svg');
    background-repeat: no-repeat;
    background-size: contain;
    // background-position: top 100px left;
    background-position: bottom;
}

.step {
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .choice {
        display: flex;
        align-items: center;
        position: relative;

        .backButton {
            display: inline-block;
            margin: 0 20px;
            position: absolute;
        }

        .title {
            flex: 1;
        }
    }


    .suggest {
        font-size: 2rem;
        text-align: center;
    }

}

.notice {
    margin-top: 30px;
    margin-left: 30px;
    width: 350px;

    p {
        margin-bottom: 10px;
        font-size: 1.5rem;
        color: #787878;
        line-height: 1.5;
    }
}