.notice-container {
    display: flex;
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .container {
    padding: 20px;
  }
  
  
  .action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
  }
 
  .notifications {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
 
  .notification-card {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  
  .notification-card.read {
    background-color: #f6f6f6; 
  }
  
  
  .notification-title {
    font-weight: bold;
    color: #333; 
    font-size: 18px;
    margin-left: 20px;
  }
  
  .notification-content {
    margin-top: 5px;
    color: #666;
    margin-left: 20px;
  }
  
  .notification-card.read .notification-title,
  .notification-card.read .notification-content {
    color: #a9a9a9; 
  }
  
  .notification-card img {
    width: 100%;
    border-radius: 5px;
  }

}