.notice-container {
    display: flex;

      .notification {
        margin-bottom: 15px;
        transition: background-color 0.3s, color 0.3s;
        padding: 15px;
        border-radius: 5px;
      }
    
      .notification.unread {
        background-color: #fff7e6;
        color: #333; 
        font-weight: bold;
      }
    
      .notification.read {
        background-color: #f6f6f6; 
        color: #aaa; 
    }

    .confirm-read-button {
      padding: 8px 16px;
      border-radius: 5px;
      font-size: 14px;
      margin-bottom: 20px;
      margin-left: 685px
    }

  .notifications {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 20px;
  }

 
  .notification-card {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  
  .notification-title {
    font-weight: bold;
    color: #333; 
    font-size: 18px;
    margin-left: 20px;
  }
  
  .notification-content {
    margin-top: 5px;
    color: #666;
    margin-left: 20px;
  }
  
  .notification-card.read .notification-title,
  .notification-card.read .notification-content {
    color: #a9a9a9; 
  }
  
  .notification-card img {
    width: 100%;
    border-radius: 5px;
  }

}