.main { 
    background-color: rgba(250, 134, 56, 0.2);
    padding: 50px 0;
    background-image: url('../../assets/images/dogs.svg');
    background-repeat: no-repeat;
    background-size: contain;
    // background-position: top 100px left;
    background-position: bottom;
}

.support {
    text-align: right;

    a {
        text-decoration: none;
        font-size: 2.2rem;
        line-height: 2;
        color: #E87428;
    }
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;

    .choice {
        display: flex;
        align-items: center;
        position: relative;

        .backButton {
            display: inline-block;
            margin: 0 20px;
            position: absolute;
        }

        .title {
            flex: 1;
        }
    }
}

@media screen and (max-width: 46.1875em) {
    .main { 
        background-color: #fff;
        background-image: none;
        padding: 0;
        margin: 0 4px;
    }

    .support {
        display: none;
    }

    .backButton {

        img {
            width: 40px;
        }
    }

    .forms {
        display: block;
        
        .form {
            width: 100% !important;
            border: none !important;
        }
    }

    .input {

        span {
            top: 35% !important;
            left: 17% !important;
        }   
    }

    .btn {
        width: 70% !important;
        font-size: 1.8rem !important;
        border-radius: 10px !important;
    }

    // .other {
    //     .under {
    //         width: 40% !important;
    //     }

    //     span {
    //         font-size: 1.7rem !important;
    //     }
    // }

    // .differentOption {
    //     flex-wrap: wrap;

    //     img {
    //         width: 30px;
    //     }

    //     .btnOp {
    //         width: 70%;
    //         height: 60px;
    //         margin: 0 0 0 0;
    //         flex-wrap: wrap;
    //     }
    // }

    // .agreeTerms {
    //     font-size: 1.5rem !important;
    //     padding: 0 !important;
    // }

    // .haveAccount {
    //     p {
    //         font-size: 1.8rem !important;
    //     }
    // }
}