.main { 
    background-color: rgba(250, 134, 56, 0.2);
    padding: 50px 0;
    background-image: url('../../assets/images/dogs.svg');
    background-repeat: no-repeat;
    background-size: contain;
    // background-position: top 100px left;
    background-position: bottom;
}

.support {
    text-align: right;

    a {
        text-decoration: none;
        font-size: 2.2rem;
        line-height: 2;
        color: #E87428;
    }
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;

    .choice {
        display: flex;
        align-items: center;
        position: relative;

        .backButton {
            display: inline-block;
            margin: 0 20px;
            position: absolute;
        }

        .title {
            flex: 1;
        }
    }
}