.sliderImg {
    margin: 30px;
}

.underLine {
    margin-top: 50px;
}

.feedbacks {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
        display: flex;
    }
}